<div class="overview-column-heds row center">
  <div class="overview-column-hed col-fill">Spaces and apps</div>
  <div class="overview-column-hed overview-item-usage col-fit">Usage</div>
</div>
<div class="overview-items">

  <!-- space item -->
  <div class="overview-row row-center-x indent-0">
    <div class="col-fill">
      {{ render '@icon-square--space-medium' }}
      <h3 class="overview-item-title inline"><a href="#">spaceName</a></h3>
    </div>
    <div class="overview-item-usage col-fit">
      <div class="overview-item-usage-amt">itemUsage</div>
      <div class="overview-item-usage-helper">itemUsageHelper</div>
    </div>
  </div>

  <!-- app/path ok item -->
  <div class="overview-row row-center-x indent-1">
    <div class="col-fill">
      {{ render '@icon-square--app-ok-medium' }}
      <h3 class="overview-item-title inline"><span class="overview-item-title-path">spaceName / <span><a href="#">appName</a></h3>
    </div>
    <div class="overview-item-status col-fit">
      {{ render '@status--running' }}
    </div>
  </div>

  <!-- app/path crashed item -->
  <div class="overview-row row-center-x indent-1">
    <div class="col-fill">
      {{ render '@icon-square--app-error-medium' }}
      <h3 class="overview-item-title inline"><span class="overview-item-title-path">spaceName / <span><a href="#" class="status-error">appName</a></h3>
    </div>
    <div class="overview-item-status col-fit">
      {{ render '@button--active' }}
      {{ render '@status--crashed' }}
    </div>
  </div>

</div>
