
{{#each organizations}}
<div class="panel-row panel-row-boxed"> <!-- card--overview--quicklook -->
  <div class="NNNNN"> <!-- card--overview-header -->
    <div class="panel-column"> <!-- card--overview-header-title -->
      <h2 class="sans-s6">
        <svg class="icon-fill icon-fill-inactive">
          <use xlink:href="/img/cloudgov-sprite.svg#i-org"></use>
        </svg>
        <a href="#">{{ name }}</a>
      </h2>
    </div> <!-- card--overview-header-title -->
    <div class="panel-column"> <!-- card--overview-header-status -->

      <span class="count_status count_status-none"> <!-- card--overview-header-status-entity -->
        <span class="count_status-icon">
          <svg class="icon-fill icon-bordered icon-fill-alt">
            <use xlink:href="/img/cloudgov-sprite.svg#i-space"></use>
          </svg>
        </span>
        <span class="count_status-text">
          {{#if spaces.0.name}}
            <strong>{{ spaces.length }}</strong> space{{#if spaces.1.name}}s{{/if}}
          {{else}}
            <strong>0</strong> spaces
          {{/if}}
        </span>
      </span><!-- /card--overview-header-status-entity -->

      <span class="count_status count_status-started"> <!-- card--overview-header-status-item -->
        <span class="count_status-icon">
          <svg class="icon-fill icon-fill-ok">
            <use xlink:href="/img/cloudgov-sprite.svg#i-app"></use>
          </svg>
        </span>
        <span class="count_status-text">
          {{#if apps.0.name}}
            <strong>{{ apps.length }}</strong> app{{#if apps.1.name}}s{{/if}}
          {{else}}
            <strong>0</strong> apps
          {{/if}}
        </span>
      </span><!-- /card--overview-header-status-item -->

    </div> <!-- /card--overview-header-status -->
  </div> <!-- /card--overview--header -->
</div> <!-- /card--overview--quicklook -->

{{/each}}
