<div class="count_status count_status-{{status}} col-none row-center"> <!-- card-home-contents-header-status-entity -->
  <div class="count_status-icon  col-none">
    <svg class="icon-fill icon-bordered icon-{{status}}">
      <use xlink:href="/img/cloudgov-sprite.svg#i-fill-{{kindIcon}}"></use>
    </svg>
  </div>
  <div class="count_status-text col-fit">
    {{#if kinds.0.name}}
      <strong>{{ kinds.length }}</strong> {{kind}}{{#if kinds.1.name}}s{{/if}}
    {{else}}
      <strong>0</strong> {{kind}}s
    {{/if}}
  </div>
</div><!-- /card-home-contents-header-status-entity -->
